/* src/app/globals.css */
@import "tailwindcss";

/* Di Tailwind v4, kita tidak perlu @tailwind base/components/utilities lagi.
  Cukup @import "tailwindcss"; 
*/

:root {
  /* Setup Warna Dasar: Slate 950 (Gelap Modern) */
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 2, 6, 23; 
  --background-end-rgb: 2, 6, 23;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  /* --- CUSTOM ANIMATION: POP IN --- */
  @keyframes popIn {
    0% { 
      opacity: 0; 
      transform: scale(0.95) translateY(10px); 
    }
    100% { 
      opacity: 1; 
      transform: scale(1) translateY(0); 
    }
  }
  
  .animate-pop-in {
    animation: popIn 0.4s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  }
}